# Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.dll
*.lib
*.sbr
*.sdf
*.opensdf
[Bb]in
[Dd]ebug*/
obj/
[Rr]elease*/
[Bb]uild/
x64/
x86/
.vs/
*.VC.db
*.VC.opendb
*.vcxproj.filters
BETS_*.zip
ftp-access.xml